<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Reference to map file to help with localization -->
  <arg name="map_file" default="$(find my_robot)/maps/map.yaml"/>

  <!-- Node that uses the map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

 <!-- AMCL localization node -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">
    <param name="max_particles" value="1000" />
    <param name="min_particles" value="100" />
    <param name="initial_pose_x" value="0.0" />
    <param name="initial_pose_y" value="0.0" />
    <param name="initial_pose_a" value="-1.5707" />
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="robot_footprint"/>
    <param name="global_frame_id" value="map"/>  
    <param name="laser_model_type" value="likelihood_field" />
    <param name="laser_min_range" value=".20" />
    <param name="laser_max_range" value="28"/>
    <param name="laser_z_hit" value=".9" />
    <param name="laser_z_rand" value=".1" />
    <param name="laser_likelihood_max_dist" value="2.5" />
    <param name="odom_model_type" value="diff-corrected" />
    <param name="odom_alpha1" value=".004" />
    <param name="odom_alpha2" value=".004" />
    <param name="odom_alpha3" value=".004" />
    <param name="odom_alpha4" value=".004" />
    <param name="odom_alpha5" value=".004" />

  </node>

 <!-- Move Base node -->
  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robot)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot)/config/base_local_planner_params.yaml" command="load" />
  </node>


  <!--Launch RVis-->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false"/>

</launch>
